.main{
	
}
.main_top{
   height: 15%;
   width: 100%;
   background-color: #FDF5E6;
}
.top_left img{
  height: 50px;
  width: 20%;
  top: 15px;
  left: 50px;
  position: relative;
}

.top_right{
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #FDF5E6;
  color: #808080;
  padding-left: 20px;
  padding-right: 20px;
  width: -50%;
  text-align: left;
  list-style-type: none;
}
.top_right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FDF5E6;
  top:15px;
  right:20px;
  height:40px;
  width :100%;
  position: relative;
}

.top_right ul li {
  float: left;
}

.top_right li a {
  display: block;
  color: #808080;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.top_right li a:hover {
  background-color: #FFE4E1;
}
.mid{
   top: 300px;
   height: 500px;
   width: 100%;
   background-color: #FFF5EE;
}
.mid_left{
    position: absolute;	
   top: 200px;
   left: 200px;
   height: 300px;
   background-color: #FFF5EE;
}
.mid_right{
	position:absolute;
   top: 110px;
   left:  650px;
   height: 400px;
   background-color: #FFF5EE;
}
.academic{
	top:750px;
	width: 100%;
	height: 700px;
	background-color: #FFF5EE;
}
.academin_mid{
	left: 100px;
	width: 100%;
	height: 1000px;
}
.am1{
   position: absolute;
   top: 750px;
   left: 100px;
   width: 250px;
   height: 250px;
   background-color: #FFE4E1;
}
.am2{
   position: absolute;
   top: 750px;
   left: 400px;
   width: 250px;
   height: 250px;
   background-color: #FFE4E1;
}
.am3{
   position: absolute;
   top: 750px;
   left: 700px;
   width: 250px;
   height: 250px;
   background-color: #FFE4E1;
}
.am4{
   position: absolute;
   top: 750px;
   left: 1000px;
   width: 250px;
   height: 250px;
   background-color: #FFE4E1;
}
.am5{
   position: absolute;
   top: 1050px;
   left: 100px;
   width: 250px;
   height: 240px;
   background-color: #FFE4E1;
}
.am6{
   position: absolute;
   top: 1050px;
   left: 400px;
   width: 250px;
   height: 240px;
   background-color: #FFE4E1;
}
.am7{
   position: absolute;
   top: 1050px;
   left: 700px;
   width: 250px;
   height: 240px;
   background-color: #FFE4E1;
}
.am8{
   position: absolute;
   top: 1050px;
   left: 1000px;
   width: 250px;
   height: 240px;
   background-color: #FFE4E1;
}
.schedule{
    top:1350px;
	width: 100%;
	height: 600px;
	background-color: #F5F5F5;
}
.schedule_top{
   position: absolute;
   top: 1400px;
   width: 99%;
   height: 250px;
}
.schedule_down{
   position: absolute;	
   top: 1600px;
   left: 10%;
   height: 250px;
   width: 80%;
   background-color: #A9A9A9;
}
.schedule_first{
  position: relative;
  top: 20px;
  left: 7%;
  height: 240px;
  width: 27%;
}
.schedule_second{
  position: absolute;
  top: 20px;
  left: 37%;
  height: 240px;
  width: 27%;
}
.schedule_third{
  position: absolute;
  top: 20px;
  left: 67%;
  height: 240px;
  width: 27%;
}
.schedule_first_left{
	top: 25px;
  position: relative;
  float: left;
  display: inline;
  vertical-align: left;
}
.schedule_first_right{
	top: 10px;
	right: 30px;
	position: absolute;
    vertical-align: right;
    display: inline;
}

.schedule_second_left{
	top: 25px;
  position: relative;
  float: left;
  display: inline;
  vertical-align: left;
}
.schedule_second_right{
	top: 10px;
	right: 30px;
	position: absolute;
    vertical-align: right;
    display: inline;
}
.schedule_third_left{
	top: 25px;
  position: relative;
  float: left;
  display: inline;
  vertical-align: left;
}
.schedule_third_right{
	top: 10px;
	right: 20px;
	position: absolute;
    vertical-align: right;
    display: inline;
}
.counselling{
	position: absolute;
	top:1890px;
	width: 99%;
	height: 600px;
	background-color: #FDF5E6;
}
.left_counselling{
   position: relative;	
   top: 120px;
   left: 100px;
   height: 300px;
   width: 50%;
}
.right_counselling{
   position:absolute;
   top: 120px;
   left: 680px;
   height: 400px;
   background-color: #FFF5EE;
}
.meeting{
   position: absolute;
	top:2400px;
	width: 99%;
	height: 600px;
	background-color: #FDF5E6;
}
.left_meeting{
   position:absolute;
   top: 120px;
   left: 50px;
   height: 400px;
   background-color: #FFF5EE;
}
.right_meeting{
   position:absolute;
   top: 80px;
   left: 680px;
   height: 400px;
   background-color: #FFF5EE;
}
.footer{
	position: relative;
	top:1080px;
	width: 99%;
	height: 400px;
	background-color: #DCDCDC;
}
.footer1{
   position: relative;
   top: 20px;
   left: 250px;
   width: 250px;
   height: 250px;
}
.footer2{
   position: absolute;
   top: 20px;
   left: 500px;
   width: 250px;
   height: 250px;
}
.footer3{
    position: absolute;
   top: 20px;
   left: 750px;
   width: 250px;
   height: 250px;
}
.footer4{
   position: absolute;
   top: 20px;
   left: 1000px;
   width: 250px;
   height: 250px;
}